html,
body {
  height: 100%;
  overflow: auto;
  margin: 0;
}

html {
  overflow-y: scroll;
}

.container {
  font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #0a5efb;
}

/* index page */

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6%;
  margin-top: 20px;
}

.logo {
  font-size: 44px;
  font-weight: bold;
  color: #00a7ff;
}

.exit {
  font-size: 44px;
  font-weight: bold;
  color: #00a7ff;
  margin-left: 20px;
}

.exit a {
  color: inherit;
}

.on-game {
  font-size: 44px;
  font-weight: bold;
  color: #00a7ff;
  margin-right: 20px;
}

.card {
  width: 300px;
  height: 380px;
  background-color: #fff;
  border: none;
  border-radius: 0.75em;
  position: relative;
  margin: auto;
  font-family: inherit;
}

.icon {
  width: 140px;
  height: 140px;
  background: #a1e0e9;
  border-radius: 100%;
  margin: auto;
  margin-top: 40px;
}

.info {
  margin: auto;
  width: 250px;
  height: 150px;
  margin-top: 30px;
}

.name {
  font-weight: 600;
  font-size: 1.3em;
  margin-left: 30px;
}

.input {
  position: relative;
  width: 180px;
  margin-left: 24px;
  margin-top: 16px;
}

.input-name {
  color: #858282;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: 2px solid rgba(221, 221, 221, 0.39);
  border-radius: 0.75em;
}

.button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

.button {
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background-color: #000;
  cursor: pointer;
  margin-bottom: 20px;
}

.button a {
  text-decoration: none;
}

.button-info {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 0.75em;
  padding: 0.75em 1.5em;
  background-color: #e8e8e8;
  color: #000;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.button-join {
  background: #ffe100;
}

.button-create {
  background: #66cfff;
}

.button:hover .button-info {
  transform: translateY(-0.33em);
}

.button:active .button-info {
  transform: translateY(0);
}

/* overlay */

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

.overlay-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 190px;
  height: 200px;
  border-radius: 0.75em;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.popup-title {
  font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #00a7ff;
}

.input {
  position: relative;
  width: 160px;
  margin-left: 24px;
  margin-top: 10px;
}

.cancel-join-room,
.confir-join-room {
  font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
  width: 60px;
  height: 50px;
  background-color: #f30;
  box-sizing: border-box;
  border: 3px #002043 solid;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.confir-join-room {
  background-color: #007aff;
}

.cancel-join-room:hover,
.confir-join-room {
  opacity: 0.8;
}

/* game page */

.game-status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.game-status-text {
  font-size: 32px;
  font-weight: bold;
  color: #e8e8e8;
}

.game {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 390px;
  background-color: #e8e8e8;
  border-radius: 0.75em;
}

.player-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 60px;
}

.player-box {
  width: 100%;
  height: 72px;
}

.player-icon {
  width: 58px;
  height: 58px;
  background-color: #00a7ff;
  box-sizing: border-box;
  border-radius: 50%;
}

.player-name {
  font-size: 12px;
  color: #4b4a4a;
}

.history {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #194eb1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  opacity: 0.7;
}

.history-text {
  font-size: 28px;
  font-weight: bold;
  color: #00a7ff;
}

.playe-option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.game-option-start-game {
  width: 168px;
  height: 50px;
  background-color: #f30;
  box-sizing: border-box;
  border: 3px #002043 solid;
  border-radius: 7px;
}

.game-option-start-game:hover {
  opacity: 0.8;
}

.game-option-start-game-text {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
