<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta name="screen-orientation" content="portrait" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>阿瓦隆</title>

    <link rel="stylesheet" href="../css/app.css" />
    <link rel="stylesheet" href="../css/normalize.css" />

    <script src="../util/jquery.js"></script>
    <script src="../js/system.js"></script>
    <script src="../js/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <span class="logo">阿瓦隆</span>
      </div>

      <div class="game">
        <div class="player-col">
          <div>
            <div class="player-icon">1</div>
            <span class="player-name">User9527</span>
          </div>

          <div>
            <div class="player-icon">2</div>
            <span class="player-name">User9527</span>
          </div>
          <div>
            <div class="player-icon">3</div>
            <span class="player-name">User9527</span>
          </div>
          <div>
            <div class="player-icon">4</div>
            <span class="player-name">User9527</span>
          </div>
          <div>
            <div class="player-icon">5</div>
            <span class="player-name">User9527</span>
          </div>
        </div>

        <div class="playe-option">sdsdsds</div>

        <div class="player-col">
          <div>
            <div class="player-icon">6</div>
            <span class="player-name">User9527</span>
          </div>
          <div>
            <div class="player-icon">7</div>
            <span class="player-name">User9527</span>
          </div>
          <div>
            <div class="player-icon">8</div>
            <span class="player-name">User9527</span>
          </div>
          <div>
            <div class="player-icon">9</div>
            <span class="player-name">User9527</span>
          </div>
          <div>
            <div class="player-icon">10</div>
            <span class="player-name">User9527</span>
          </div>
        </div>
      </div>

      <div class="history">dsadasd</div>
    </div>
  </body>
</html>
