<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta name="screen-orientation" content="portrait" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>阿瓦隆</title>

    <link rel="stylesheet" href="../css/app.css" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link
      rel="stylesheet"
      href="https://kit.fontawesome.com/799073a1c9.css"
      crossorigin="anonymous"
    />

    <script src="../util/jquery.js"></script>
    <script src="../js/system.js"></script>
    <!-- <script src="../js/app.js"></script> -->
    <script src="../js/client.js"></script>
    <script
      src="https://kit.fontawesome.com/799073a1c9.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <span class="exit">
          <a href="http://localhost:3000">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </a>
        </span>
        <span class="logo">阿瓦隆</span>
        <span class="on-game">
          <i class="fa-solid fa-dungeon"></i>
        </span>
      </div>

      <div class="game-status">
        <span class="game-status-text"> <%= message %></span>
      </div>

      <div class="game">
        <div class="player-col">
          <div class="player-box">
            <div class="player-icon"></div>
            <span class="player-name">User9527</span>
          </div>
          <div class="player-box">
            <div class="player-icon"></div>
            <span class="player-name">User9527</span>
          </div>
          <div class="player-box">
            <div class="player-icon"></div>
            <span class="player-name">User9527</span>
          </div>
          <div class="player-box">
            <div class="player-icon"></div>
            <span class="player-name">User9527</span>
          </div>
          <div class="player-box">
            <div class="player-icon"></div>
            <span class="player-name">User9527</span>
          </div>
        </div>

        <div class="playe-option">
          <button class="game-option-start-game">
            <span class="game-option-start-game-text"> 开始游戏 </span>
          </button>
        </div>

        <div class="player-col">
          <div class="player-box">
            <div class="player-icon"></div>
            <span class="player-name">User9527</span>
          </div>
          <div class="player-box">
            <div class="player-icon"></div>
            <span class="player-name">User9527</span>
          </div>
          <div class="player-box">
            <div class="player-icon"></div>
            <span class="player-name">User9527</span>
          </div>
          <div class="player-box">
            <div class="player-icon"></div>
            <span class="player-name">User9527</span>
          </div>
          <div class="player-box">
            <div class="player-icon"></div>
            <span class="player-name">User9527</span>
          </div>
        </div>
      </div>

      <div class="history">
        <span class="history-text">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
          游戏记录
        </span>
      </div>
    </div>

    <script
      src="https://cdn.socket.io/4.3.2/socket.io.min.js"
      integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
      crossorigin="anonymous"
    ></script>
    <script>
      const socket = io('http://localhost:3000');
      socket.on('connect', function () {
        console.log('Connected');

        socket.emit('events', { test: 'test' });
        socket.emit('identity', 0, (response) =>
          console.log('Identity:', response),
        );
      });
      socket.on('events', function (data) {
        console.log('event', data);
      });
      socket.on('exception', function (data) {
        console.log('event', data);
      });
      socket.on('disconnect', function () {
        console.log('Disconnected');
      });
    </script>
  </body>
</html>
