<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta name="screen-orientation" content="portrait" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>阿瓦隆</title>

    <link rel="stylesheet" href="../css/app.css" />
    <link rel="stylesheet" href="../css/normalize.css" />

    <script src="../util/jquery.js"></script>
    <script src="../js/system.js"></script>
    <script src="../js/app.js"></script>

    <script src="../js/socket.io.min.js"></script>
    <script>
      const socket = io('http://localhost:8888');
      socket.on('connect', function () {
        console.log('Connected');

        socket.emit('events', { test: 'test' });
        socket.emit('identity', 0, (response) =>
          console.log('Identity:', response),
        );
      });
      socket.on('events', function (data) {
        console.log('event', data);
      });
      socket.on('exception', function (data) {
        console.log('event', data);
      });
      socket.on('disconnect', function () {
        console.log('Disconnected');
      });
    </script>
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <span></span>
        <span class="logo">阿瓦隆</span>
        <span></span>
      </div>

      <div class="card">
        <div class="icon"></div>
        <div class="info">
          <div class="name">昵称</div>
          <div class="input">
            <input
              type="text"
              name="player_name"
              id="player_name"
              value="User9527"
              class="input-name"
            />
          </div>
        </div>
      </div>

      <div class="button-block">
        <button class="button">
          <span class="button-info button-join" onclick="showPopup()">
            进入房间
          </span>
        </button>

        <button class="button" id="create-room">
          <!-- <a href="#"> -->
          <span class="button-info button-create"> 创建房间 </span>
          <!-- </a> -->
        </button>
      </div>
    </div>

    <div class="overlay">
      <div class="overlay-box">
        <div class="popup">
          <p class="popup-title">输入房间号</p>
          <div class="popup-input">
            <input
              type="text"
              name="player_name"
              id="player_name"
              value="User9527"
              class="input-name"
            />
          </div>
          <div class="popup_btn">
            <button class="cancel-join-room" onclick="hidePopup()">取消</button>
            <button class="confir-join-room" onclick="hidePopup()">确认</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
